<form method="POST" action="/imex">
    <label for="importedUser">To copy data from user:</label>
    <input type="text" id="importedUser" name="importedUser" value="OldUser"><br><br>

    <label for="exportedUser">To paste data to:</label>
    <input type="text" id="exportedUser" name="exportedUser" value="NewUser"><br><br>
    <input type="submit" value="Submit">
</form>