<p>An app that allows you change URL on a specific time basis and order. Please read more about it in the FAQ. </p>
<p>Hello there choose one please.</p>
<a href="/newuser">New User 🥞</a> <br>
<a href="/olduser">Old User 🌺</a> <br>
<a href="/imex"> Import & Export Settings</a> <br><br>
Report to admin: <a href="mailto:<%=contactEmail%> ">Email</a> <br>

<a href="https://github.com/Thenafi/meeseeks">Github</a>

<br><br>
<p>
    <% if (userCollectionCount>= totalLimit) { %>

        <p>Sorry, you have reached the maximum number of users allowed. For more information, please contact
            admin.
        </p>
        <% } %>
            <% if (userCollectionCount< totalLimit) { %>

                <p>Number of users: <%=userCollectionCount%>
                        <br>Maximum number of users allowed: <%=totalLimit%>
                </p>
                <% } %>

</p>