<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeseeks</title>
    <!-- <link rel="stylesheet" href="/static/css/normalize.css"> -->
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>

<body>
    <a href="../"> Home</a>
    <br><br> <b></b>
    <%- body -%>
</body>

</html>