<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">



    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">

</head>

<body>
    <a href="../"> Home</a> --- <a href="../readme#:~:text=Have%20bugs-,FAQ,-How%20to%20use"> FAQ</a>
    <br><br> <b></b>
    <%- body -%>
</body>

</html>