<form method="POST" action="/newuser">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required pattern="<%= usernameRegex %>">
    <br>
    <small>Username must be between 5 and 16 characters long, contains only letters &numbers and starts with a
        letter</small>
    <br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required pattern="<%= passwordRegex %>">
    <button type="button" onclick="showPassword()">Show Password</button>
    <br>
    <small>Password must be between 5 and 16 characters long and can contain letters, numbers, and special characters !
        @ # $ % ^ & * ( ) _ + {} [] |.</small>
    <br><br>
    <p style="color: brown;">There is no rest option. So save your profile carefully carefully!</p>
    <button type="submit">Register</button>
</form>

<!-- showing password -->
<script>
    function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>