<% if (username===false) { %>

    <form>
        <input type="text" id="username" name="username" required pattern="<%= usernameRegex %>">
        <button type="submit">Edit settings</button>
    </form>

    <% } else { %>

        Your Redirection URL:
        <a id="userUrl" href="<%= url %>">
            wish/<%= username %>
        </a>
        <br><br>
        <button type="button" onclick="copyToClipboard()">Copy the URL</button>
        <br>
        <br>
        <button><a href="../settings/<%= username %>">Go to settings </a></button>
        <script>

            function copyToClipboard() {
                var copyText = document.getElementById("userUrl").href;
                navigator.clipboard.writeText(copyText)
                    .then(() => {
                        alert("Copied the URL to the clipboard!");
                    })
                    .catch((error) => {
                        console.error('Failed to copy the URL: ', error);
                    });
            }
        </script>

        <% } %>