<!---  write an ejs template that will redirect user to this page url like /:username/settings -->

<input type="text" id="username" name="username">

<button type="submit">Edit settings</button>

<script>
    //  write an ejs template that will redirect user to this page url like /:username/settings
    document.querySelector('button').addEventListener('click', function () {
        let username = document.querySelector('input').value;
        window.location.href = `/settings/${username}`;
    });



</script>